body {
    background-color: #D6D5D8;
}

#background {
    background-image: url(../images/bunnies.JPG);
    height: 100vh;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    opacity: 90%;
}

#greenBackground {
    background-image: url(../images/greenbunnies.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    opacity: 90%;
}

a {
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.navbar-brand {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rajdhani', sans-serif;
}

h1 {
    font-weight: 700;
}

p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
}

.display-4 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff;
}

.lead {
    font-size: 1.25rem;
    font-weight: 500;
    color: #ffffff;
}

.mask {
    height: 100vh;
}

a.contactLink {
    color: #d9d9d9;
    font-size: 1.25rem;
    font-weight: 500;

}

a.link {
    font-weight: 500;
}

a.link:link {
    color: #ffffff;
}

a.link:visited {
    color: gray;
}

a.link:hover {
    text-decoration: underline;
    font-weight: 600;
}

.jumbotron {
    background-image: url("../images/zoo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.containerBG {
    padding: 100px;  

}

.bgKindred {
    background-color: #DA6944;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #background {
        /* margin-top: -58.59px; */
    }
}

.card-body h5 {
    font-weight: 700;
}

.card-body p {
    font-weight: 500;
    font-size: 1.25rem;
}

small {
    font-family: 'Rajdhani', sans-serif;
    font-size: 100%;
}

#chatButton {
    display: flex;
    justify-content: center;
}

marquee {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #D6D5D8;
}