body {
    background-color: #cccccc;
}

#background {
    background-image: url(../images/bunnies.JPG);
    height: 100vh;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    opacity: 90%;
}

a {
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
}


.navbar-brand {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rajdhani', sans-serif;
}

h1 {
    font-weight: 700;
}

p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
}

.display-4 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
  }

  .lead {
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  .mask {
      height: 100vh;
  }

      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #background {
          /* margin-top: -58.59px; */
        }
      }